:root {
  --bl-black: #121212;
  --bl-black-50: #252525;
  --bl-white: #fafafa;
  --bl-grey: #dedede;
  --bl-card-bgr: #b8b8b8;
  --bl-danger: rgb(178, 19, 19);
  --bl-border-radius-small: 5px;
  --bl-border-radius-medium: 8px;
}

body {
  padding: 0;
  margin: 0;
  color: var(--bl-black);
  font-family: "Open Sans", sans-serif;
}
